table {
  width: 100%;
}

.mat-column-code_from,.mat-column-code_to {
  font-size: medium;
  font-weight: normal;
}

.mat-column-quantity {
  font-size: medium;
  font-weight: 500;
}
.mat-column-result {
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
